/*primary colors*/
$white-cl: #fff;
$black-cl: #1d1d1d;
$gray-cl: #7c7c7c;
/*primary text colors*/
$text-white-cl: #fff;
$text-black-cl: #1d1d1d;
$text-gray-cl: #7c7c7c;
/*primary bg colors*/
$bg-white-cl: #fff;
$bg-black-cl: #1d1d1d;
$bg-gray-cl: #7c7c7c;
/*main color design*/
$main-cl: #ed252a;
$second-cl: #148a43;
$sky-cl: #bfebe5;
$border-cl: #e1e1e1;
/*time transition*/
$t1: 0.3s;
$t2: 0.6s;
$t3: 1s;
$cubic1: cubic-bezier(0.61, 0.22, 0.23, 1);
$cubic2: cubic-bezier(0.63, -0.02, 0.24, 1.12);
/*font families*/
$fz-base: 10px;
$font-body: 'Averta', sans-serif;
$fz-body: 1.6rem;
$lh-body: (24 / 16);
$cl-body: #000000;
$font-title: 'Averta', sans-serif;
/*width*/
$w-scroll: 0px;
$max-width: 1920px;
$container-width: 1200px;
$padding: 15px;
