.c-blog__item {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.c-blog__img {
	position: relative;
	margin-bottom: 2.5rem;
	transition: $t1 ease-in;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: transform 1s ease-in;
		&:hover {
			transform: scale(1.2);
		}
	}
	&:before,
	&:after {
		content: 'Click Here!';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		font-size: 2rem;
		color: $text-white-cl;
		display: block;
		background-color: rgba($color: $second-cl, $alpha: 0.16);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		transition: $t1 ease-in;
		border: 2px solid $bg-white-cl;
		pointer-events: none;
	}
	&:before {
		transform: translateY(100%);
	}
	&:after {
		transform: translateY(-100%);
	}
	&:hover::after,
	&:hover::before {
		transform: translateY(0%);
	}
}
.c-blog__content {
	text-align: center;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	.main-title {
		color: $text-black-cl;
		margin-bottom: 1rem;
		transition: $t1;
		&:hover {
			color: $main-cl;
		}
	}
	.desc {
		margin-top: auto;
		margin-bottom: 1.5rem;
	}
}
